<!DOCTYPE html>
<html>
  <%- include('head') %>
  <body>
    <div class="app-container blue darken-2">
      <%- include('navbar') %> <%- include('fab') %>
      <div class="content-wrapper index blue-text text-lighten-4">
        <h4><%= title %></h4>
        <%- include("add_publisher_form-content") %>
      </div>
    </div>
    <!--JavaScript at end of body for optimized loading-->
    <%- include('body-scripts') %>
  </body>
</html>
