<!DOCTYPE html>
<html>
  <%- include('head') %>
  <body>
    <div class="app-container">
      <%- include('navbar') %> <%- include('fab') %>
      <div class="content-wrapper index c64_light_blue_text">
        <h4 class="typing-add-publisher"><%= title %></h4>
        <%- include("add_publisher_form-content") %>
      </div>
    </div>
    <!--JavaScript at end of body for optimized loading-->
    <%- include('body-scripts') %>
  </body>
</html>
