<% if (title.toUpperCase() === "UNLOCK GAME") { %>
<h1 class="typing-unlock-game"><%= title %></h1>
<% } %> <% if (title.toUpperCase() === "LOCK Game") { %>
<h1 class="typing-lock-game"><%= title %></h1>
<% } %> <% if (title.toUpperCase() === "UNLOCK PUBLISHER") { %>
<h1 class="typing-unlock-publisher"><%= title %></h1>
<% } %> <% if (title.toUpperCase() === "LOCK PUBLISHER") { %>
<h1 class="typing-lock-publisher"><%= title %></h1>
<% } %> <% if (title.toUpperCase() === "UNLOCK GENRE") { %>
<h1 class="typing-unlock-genre"><%= title %></h1>
<% } %> <% if (title.toUpperCase() === "LOCK GENRE") { %>
<h1 class="typing-lock-genre"><%= title %></h1>
<% } %>
<p><strong>This action requires a password</strong></p>

<div class="row">
  <form class="col s12" action="" method="post">
    <div class="input-field col s12">
      <input
        id="passwordInput"
        name="passwordInput"
        type="password"
        class="validate"
      />
      <label
        for="passwordInput"
        name="passwordInput"
        class="c64_light_blue_text"
        >Enter password</label
      >
    </div>

    <button
      id="go-back"
      class="back-btn waves-effect waves-light btn styled-btn"
    >
      <i class="material-icons left">arrow_back</i>back
    </button>
    <button
      type="submit"
      class="modal-close waves-effect waves-green btn styled-btn"
    >
      Submit
    </button>
    <% if (typeof errors != "undefined") { for(const [i, val] of
    errors.entries()) { if (i < errors.length-1) { %>
    <p><%=val.msg%></p>
    <% } else { %>
    <p><%=val.msg%></p>
    <% }}} %>
  </form>
  <% if (typeof errors != "undefined") { %> <% for(const error of errors) {%>
  <div class="error-msg"><%=error.msg %></div>
  <% } %> <% } %>
</div>
