<div class="game-container">
  <div class="row">
    <div class="game-card">
      <div class="card blue-grey darken-1">
        <% if (typeof game.img.data != "undefined") { %>
        <img
          class="game_card-image"
          src="data:image/<%=game.img.contentType%>;base64,<%=game.img.data.toString('base64')%>"
          alt=""
        />
        <% } else { %>
        <img class="game_card-image" src="/images/placeholder.png" alt="" />
        <% } %>
        <div class="card-content white-text">
          <span class="card-title">
            <strong
              ><%=game.title %> <% if (game.isLocked) { %>
              <a href="<%= game.url %>/unlock ">
                <i class="material-icons">lock </i></a
              >
              <% } else { %>
              <a href="<%= game.url %>/lock ">
                <i class="material-icons">lock_open </i></a
              >
              <% } %>
            </strong></span
          >
          <p>
            <strong>Publisher:</strong>
            <a href="<%=game.publisher.url%> "><%=game.publisher.name%></a>
          </p>
          <p><strong>Year: <%=game.year %> </strong></p>
          <p>
            <strong>Genre: </strong>
            <!-- prettier-ignore -->
            <% if(game){ %>
                 <% for(const [i, val] of game.genre.entries()) {%> <% if (i < game.genre.length-1) { %>
            <a href="<%=val.url%>"><%=val.name%>,</a>
            <% } else { %>
            <a href="<%=val.url%>"><%=val.name%></a>
            <% } %> <% } %><% } %>
          </p>
          <p><strong>Summary: </strong><%=game.summary%></p>
          <hr />
          <p><%= game.played_it %> users played it</p>
          <p><%= game.liked_it %> users liked it</p>
          <hr />
          <p>
            <a href="<%= game.url %>/delete ">Delete Game</a>
          </p>
          <p>
            <a href="<%= game.url %>/update ">Update Game</a>
          </p>
        </div>
        <div class="card-action">
          <form action="<%= game.url %>/played_it " method="post">
            <a href="javascript:;" onclick="parentNode.submit();"> played it</a>
          </form>
          <form action="<%= game.url %>/liked_it " method="post">
            <a href="javascript:;" onclick="parentNode.submit();"> liked it</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
