<!-- get number of letters of game title in order to make the typing effect work properly -->
<% const numberOfLetters = game?.title.length + 3; %> <% const element_width =
numberOfLetters;%>

<div class="game-container">
  <div class="row">
    <div class="c64_dark_blue_background">
      <div class="item-options">
        <p>
          <a href="<%= game.url %>/update ">Update Game</a>
        </p>
        |
        <p>
          <a href="<%= game.url %>/delete ">Delete Game</a>
        </p>
      </div>
      <% if (typeof game.img.data != "undefined") { %>
      <div class="image-container">
        <img
          class="game_card-image"
          src="data:image/<%=game.img.contentType%>;base64,<%=game.img.data.toString('base64')%>"
          alt=""
        />
      </div>
      <% } else { %>
      <img class="game_card-image" src="/images/placeholder.png" alt="" />
      <% } %>
      <div class="card-content">
        <h1
          style="
            font-family: C64_Pro_Mono-STYLE;
            font-size: 2rem;
            border-right: 2rem solid var(--c64_light_blue);
            width: <%=element_width%>em;
            white-space: nowrap;
            overflow: hidden;
            animation: typing 1.5s steps(<%=element_width%>, end),
              blink-caret 0.4s 1.5s step-end infinite alternate;
          "
        >
          <strong
            ><%=game.title %> <% if (game.isLocked) { %>
            <a href="<%= game.url %>/unlock ">
              <i class="material-icons">lock </i></a
            >
            <% } else { %>
            <a href="<%= game.url %>/lock ">
              <i class="material-icons">lock_open </i></a
            >
            <% } %>
          </strong>
        </h1>
        <p>
          <strong>Publisher:</strong>
          <a href="<%=game.publisher.url%> "><%=game.publisher.name%></a>
        </p>
        <p><strong>Year: <%=game.year ? game.year : "-" %> </strong></p>
        <p>
          <strong>Genre: </strong>
          <!-- prettier-ignore -->
          <% if(game && game.genre.length > 0) { %>
                 <% for(const [i, val] of game.genre.entries()) {%> <% if (i < game.genre.length-1) { %>
          <a href="<%=val.url%>"><%=val.name%>,</a>
          <% } else { %>
          <a href="<%=val.url%>"><%=val.name%></a>
          <% } %> <% } %><% } else { %> - <% } %>
        </p>
        <p><strong>Summary: </strong><%=game.summary%></p>

        <p><%= game.played_it %> users played it</p>
        <p><%= game.liked_it %> users liked it</p>
      </div>

      <div class="game-action">
        <form action="<%= game.url %>/played_it " method="post">
          <button class="action-btn">I PLAYED IT</button>
        </form>

        <form action="<%= game.url %>/liked_it " method="post">
          <button class="action-btn">I LIKED IT</button>
        </form>
      </div>
    </div>
  </div>
</div>
