<!DOCTYPE html>
<html>
  <%- include('head') %>
  <body>
    <div class="app-container">
      <%- include('navbar') %> <%- include('fab') %>
      <div class="content-wrapper game_list c64_light_blue_text">
        <%- include('publisher_detail-content') %>
      </div>
    </div>
    <!--JavaScript at end of body for optimized loading-->
    <%- include('body-scripts') %>
  </body>
</html>
